:root{
  --text-clr: hsl(280,75%,98%);
  --header-txt: monospace
}
html {
  background: hsl(276, 82%, 51%);
}
html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  color:var(--text-clr);
  background-color: linear-gradient( hsl(276, 82%, 51%), hsl(278, 91%, 27%));  ;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 5px
}
::-webkit-scrollbar-track{
  background: rgb(226, 116, 12);
  border-radius: 7px;
}
::-webkit-scrollbar-thumb{
  background: #888;
}
::-webkit-scrollbar-thumb:hover{
  background: #555;
}