.header {
  color: var(--text-clr);
  font-family: var(--header-txt);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.8rem 3rem 0 2.8rem
}

.nav-menu {
  display: flex;
  gap: 1.2rem;
  list-style: none;

}

.nav-item {}

.img {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  min-width: 2rem;
  max-width: 3rem;
cursor: pointer;
  aspect-ratio: 1/1;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-clr);
  text-align: center;
}

.main h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;

}

.main p {
  font-weight: lighter;
}

.logo {
  background: white;
  padding: .2rem;
  border-radius: 50%;
  border: 3px solid hsl(278, 94%, 19%);
  padding-left: 1rem;
}
.homeLogo{
  margin-top: 11.3rem;
}

.image {
  position: absolute;
  right: 0;

}

.squiggle,
.lolipop {
  width: 480px;
  position: absolute;
}

.squiggle {
  top: 8rem;
  left: -10.5rem;
}

.lolipop {
  top: 41rem;
  right: -13rem;
}
.footer
{
  position: relative;
  overflow: hidden;
}
.contacts {
  margin: auto;
  position: relative;
  margin-top: 8rem;
  width: 10rem;
  justify-content: center;
  display: flex;
  gap: .7rem;
  font-size: .9rem;
  min-height: 30vh;
  color: var(--text-clr);
  overflow: hidden;

}
.contacts::after{
  position: absolute;
  border-radius: 5px;
  top:1.9rem;
  content: " ";
  width: 75%;
  height: .18rem;
  background: white;
}
.end{
  position: absolute;
  top: -6rem;
  left: -29rem;
 height: 200vh;
  width: 500vw;
}

.homeText{
  display:none
}
@media (min-width : 600px) {
  .homeSvg{
    display: none;
    
  }
  .homeText{
    display: block;
  }
}

.invisible{
  display:none
}
.underline{
  text-decoration: underline;
}