.section{
    margin: auto;
    margin-bottom: 13rem;
    padding-top: 5.8rem;
    max-width: 850px;
    display: grid;
    text-align: center;
}
.projects{
    font-weight: bold;
    width: 7rem;
    margin: auto;
    border: 0.13rem solid white;
    border-radius: 4px;

}

.cardSection{
    display: grid;
    gap:calc(5% + 1rem);
    padding: 1rem;;
    margin-bottom: 3rem;
    margin-top: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    color: black;
}
.card{
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    background: #1b1b1d;
    color:hsl(0, 0%, 100%, 1);
    flex-direction: column;
    font-family: monospace;
    text-align: left;
}
.card h1 {
    color: #ffffff
}
.card p {
    color: hsl(240, 1%, 30%)
}
.tools{
    color: hsl(240, 1%, 50%)
}
.span{
    font-size: 0.7rem;
}
.links{
    padding-top: 1rem;
    display: flex;
    gap: .7rem;
}
.links a{
    font-size: 1.1rem;
    color: hsl(240, 1%, 30%);
    border: 1px ;
    border-radius: 2px;
    padding: .2rem 1rem;
    display: flex;
    align-items: center;
    gap:0.2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}
.links a:hover, .links a:active{
        box-shadow: 1px 1px 1px hsl(0, 0%, 0% );
        color: #ffffff;
}
.img{
    background: #000;
    max-width: fit-content;
    margin:0 auto;
}
.image{
    background: white;
}
