.default {
  --text-clr: hsl(0, 0%, 81%);
  --bg: rgb(21, 21, 21);
  --text-clr: hsl(0, 0%, 81%);
  --header-txt: monospace;
  --border-clr: rgb(226, 116, 12);
  --alt-text-clr: hsl(0, 0%, 51%);
  --alt-bg: hsl(0, 0%, 14%);
  min-height: 100vh;
  color: var(--text-clr);
  background-color: var(--bg);
  transition: background 0.5s ease-in-out;
}

.red {
  --bg: red;
}

.purple {
  --bg: purple;
  --alt-bg: hsl(300, 100%, 10%);
  --text-clr: white;
  --alt-text-clr: hsl(0, 1%, 69%);
}

.dark {
  --bg: rgb(21, 21, 21);
}

.light {
  --bg: hsl(0, 0%, 100%);
  --text-clr: #333;
  --alt-bg: hsl(0, 0%, 90%);
  --alt-text-clr: hsl(0, 0%, 50%);
  --border-clr: hsl(30, 7%, 11%);

}
